<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:redisson="http://redisson.org/schema/redisson"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://redisson.org/schema/redisson http://redisson.org/schema/redisson/redisson.xsd
    http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-2.0.xsd"
       default-lazy-init="true">

    <description>S1 数据库配置</description>

    <redisson:client>
        <redisson:single-server
                address="redis://${redis.ip}:${redis.port}"
                password="${redis.pwd}"
                idle-connection-timeout="10000"
                ping-timeout="1000"
                connect-timeout="10000"
                timeout="3000"
                retry-attempts="3"
                retry-interval="1500"
                subscriptions-per-connection="5"
                client-name="none"
                subscription-connection-minimum-idle-size="1"
                subscription-connection-pool-size="50"
                connection-minimum-idle-size="10"
                connection-pool-size="64"
                database="${redis.db.index}"
        />
    </redisson:client>

    <mongo:mongo-client id="mongo" replica-set="${mongo.hosts}" >
        <mongo:client-options
                connections-per-host="${mongo.connectionsPerHost}"
                threads-allowed-to-block-for-connection-multiplier="${mongo.threadsAllowedToBlockForConnectionMultiplier}"
                connect-timeout="${mongo.connectTimeout}"
                max-wait-time="${mongo.maxWaitTime}"
                socket-keep-alive="${mongo.socketKeepAlive}"
                socket-timeout="${mongo.socketTimeout}"
        />
    </mongo:mongo-client>

    <mongo:db-factory id="mongoDbGfsFactory" dbname="${mongo.gfsdatabasename}" mongo-ref="mongo"/>

    <!-- 定义一个交换器-->
    <mongo:mapping-converter id="mongoGfsConverter" db-factory-ref="mongoDbGfsFactory"/>

    <bean id="gridFsTemplate" class="org.springframework.data.mongodb.gridfs.GridFsTemplate">
        <constructor-arg ref="mongoDbGfsFactory"/>
        <constructor-arg ref="mongoGfsConverter"/>
    </bean>

</beans>
