<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	SQL映射文件名称：渠道商商品定价
	————————————————————————————————————
	修改日期		作者		变更内容
	20190509	唐永刚	    创建了该文件
	————————————————————————————————————
	陕西佳之易网络科技有限公司 版本所有
 -->

<mapper namespace="com.jzy.api.dao.arch.DealerAppInfoMapper">


    <!--    前台分页热搜查询-->
    <select id="appSearchList" resultType="com.jzy.api.po.dealer.AppSearchPo">
        SELECT
        ai.id as aiId,
        ai.name,
        ai.icon
        FROM
        dealer_app_info dai
        LEFT JOIN app_info ai ON dai.ai_id = ai.id
        WHERE
        dai.dealer_id = #{dealerId}
        AND dai. STATUS = 1
        AND ai.`status` = 1
        <if test="keyword!=null">
            AND (
            ai. NAME LIKE CONCAT('%',#{keyword},'%')
            OR ai.label LIKE CONCAT('%',#{keyword},'%')
            OR ai.spll_letter LIKE CONCAT('%',#{keyword},'%')
            )
        </if>

    </select>

    <!--    insert-->
    <insert id="insert" parameterType="com.jzy.api.model.dealer.DealerAppInfo">
                INSERT INTO  dealer_app_info(
                `id`,
                `ai_id`,
                `is_hot`,
                `is_reco`,
                `is_custom`,
                `status`,
                `sort`,
                `remark`,
                `dealer_id`,
                `creator_id`,
                `modifier_id`,
                `create_time`,
                `modify_time`
                )
                VALUES
                (
                #{id},
                #{aiId},
                #{isHot},
                #{isReco},
                #{isCustom},
                #{status},
                #{sort},
                #{remark},
                #{dealerId},
                #{creatorId},
                #{modifierId},
                #{createTime},
                #{modifyTime}
                )
    </insert>

    <!--    update-->
    <update id="update" parameterType="com.jzy.api.model.dealer.DealerAppInfo">
        UPDATE dealer_app_info
        SET
        <if test="isHot!=null">
            `is_hot` = #{isHot}
        </if>
        <if test="isReco!=null">
            , `is_reco` = #{isReco}
        </if>
        <if test="isCustom!=null">
            ,`is_custom` = #{isCustom}
        </if>
        <if test="status!=null">
            ,`status` = #{status}
        </if>
        <if test="sort!=null">
            , `sort` = #{sort}
        </if>
        <if test="remark!=null">
            , `remark` = #{remark}
        </if>
        <if test="creatorId!=null">
            , `creator_id` = #{creatorId}
        </if>
        <if test="modifierId!=null">
            ,`modifier_id` = #{modifierId}
        </if>
        <if test="createTime!=null">
            ,`create_time` = #{createTime}
        </if>
        <if test="createTime!=null">
            , `modify_time` = #{modifyTime}
        </if>
        WHERE
        `ai_id` = #{aiId}
        and `dealer_id` = #{dealerId}

    </update>

    <!--  修改上下架状态  -->
    <update id="updateStatus">

        UPDATE dealer_app_info
        SET STATUS =#{status}
        WHERE
            ai_id =#{aiId}
        AND dealer_id =#{dealerId}
    </update>

    <!-- 查询商品的状态 -->
    <select id="queryAppStatus" resultType="java.lang.Integer">
        SELECT
        status
        FROM
        dealer_app_info
        WHERE
        ai_id = #{appId}
        AND dealer_id = #{dealerId}
    </select>

</mapper>
