<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	SQL映射文件名称：订单处理
	————————————————————————————————————
	修改日期		作者		变更内容
	20190426	邓冲	    创建了该文件
	————————————————————————————————————
	陕西佳之易网络科技有限公司 版本所有
 -->

<mapper namespace="com.jzy.api.dao.biz.CardPwdMapper">

    <!-- 新增卡密 -->
    <insert id="insert" parameterType="com.jzy.api.model.biz.CardPwd">
        INSERT INTO order_cardkey (
        id, order_id, user_id, card_no, card_pwd, payoff_price_total, gmt_expired, remark,
        del_flag, creator_id, modifier_id, create_time, modify_time
        )
        VALUES(
        #{id}, #{orderId}, #{userId}, #{cardNo}, #{cardPwd}, #{payoffPriceTotal}, #{gmtExpired}, #{remark},
        #{delFlag}, #{creatorId}, #{modifierId}, #{createTime}, #{modifyTime}
        )
    </insert>

    <!-- 根据查询卡密 -->
    <select id="queryCardPwd" resultType="java.lang.String">
        SELECT
        card_pwd
        FROM
        order_cardkey
        WHERE
        id = #{id}
    </select>

    <!-- 是否存在该订单的卡号 -->
    <select id="isExist" resultType="java.lang.Boolean">
        SELECT
        count(1) > 0
        FROM
        order_cardkey
        WHERE
        order_id = #{orderId}
        AND card_no = #{cardNo}
        LIMIT 1
    </select>

</mapper>