<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	SQL映射文件名称：订单处理
	————————————————————————————————————
	修改日期		作者		变更内容
	20190426	邓冲	    创建了该文件
	————————————————————————————————————
	陕西佳之易网络科技有限公司 版本所有
 -->

<mapper namespace="com.jzy.api.dao.biz.OrderMapper">

    <resultMap id="order" type="com.jzy.api.model.biz.Order">
        <result column="id" property="orderId"/>
        <result column="code" property="code"/>
        <result column="out_trade_no" property="outTradeNo"/>
        <result column="user_id" property="userId"/>
        <result column="app_id" property="appId"/>
        <result column="sup_no" property="supNo"/>
        <result column="sup_price" property="supPrice"/>
        <result column="sup_status" property="supStatus"/>
        <result column="discount" property="discount"/>
        <result column="price" property="price"/>
        <result column="number" property="number"/>
        <result column="status" property="status"/>
        <result column="type" property="type"/>
        <result column="total_fee" property="totalFee"/>
        <result column="price_type_name" property="priceTypeName"/>
        <result column="price_type_unit" property="priceTypeUnit"/>
        <result column="acct_type" property="acctType"/>
        <result column="account" property="account"/>
        <result column="game_account" property="gameAccount"/>
        <result column="game_area" property="gameArea"/>
        <result column="game_serv" property="gameServ"/>
        <result column="trade_method" property="tradeMethod"/>
        <result column="trade_fee" property="tradeFee"/>
        <result column="dealer_price" property="dealerPrice"/>
        <result column="trade_status" property="tradeStatus"/>
        <result column="invoice_status" property="invoiceStatus"/>
        <result column="remark" property="remark"/>
        <result column="recharge_mode" property="rechargeMode"/>
        <result column="dealer_id" property="dealerId"/>
        <result column="del_flag" property="delFlag"/>
        <result column="creator_id" property="creatorId"/>
        <result column="modifier_id" property="modifierId"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="pay_time" property="payTime"/>
        <result column="finish_time" property="finishTime"/>

        <result column="appId" property="appId"/>
        <result column="appName" property="appName"/>
        <result column="appIcon" property="appIcon"/>

        <result column="dealerNum" property="dealerNum"/>
        <result column="dealerName" property="dealerName"/>


        <result column="timeInterval" property="timeInterval"/>
        <result column="priceTotal" property="priceTotal"/>
        <result column="totalFeeTotal" property="totalFeeTotal"/>
        <result column="tradeFeeTotal" property="tradeFeeTotal"/>
        <result column="dealerPriceTotal" property="dealerPriceTotal"/>
    </resultMap>

    <!-- 新增订单 -->
    <insert id="insert" parameterType="com.jzy.api.model.biz.Order">
        INSERT INTO `order`(
        id, code, out_trade_no, user_id, app_id, sup_no, sup_price, sup_status, discount,
        price, number, status, type, total_fee, price_type_name, price_type_unit,
        acct_type, account, game_account, game_area, game_serv, trade_method, trade_code,
        trade_fee, trade_status, invoice_status, remark, recharge_mode, dealer_id,
        del_flag, creator_id, modifier_id, create_time, modify_time
        )
        VALUES (
        #{orderId}, #{code}, #{outTradeNo}, #{userId}, #{appId}, #{supNo}, #{supPrice}, #{supStatus}, #{discount},
        #{price}, #{number}, #{status}, #{type}, #{totalFee}, #{priceTypeName}, #{priceTypeUnit},
        #{acctType}, #{account}, #{gameAccount}, #{gameArea}, #{gameServ}, #{tradeMethod}, #{tradeCode},
        #{tradeFee}, #{tradeStatus}, #{invoiceStatus}, #{remark}, #{rechargeMode}, #{dealerId},
        #{delFlag}, #{creatorId}, #{modifierId}, #{createTime}, #{modifyTime}
        )
    </insert>

    <!-- 更新订单 -->
    <update id="update" parameterType="com.jzy.api.model.biz.Order">
        UPDATE
        `order`
        SET
        sup_status = #{supStatus},
        status = #{status},
        trade_method = #{tradeMethod},
        trade_code = #{tradeCode},
        trade_fee = #{tradeFee},
        trade_status = #{tradeStatus},
        del_flag = #{delFlag},
        invoice_status = #{invoiceStatus},
        remark = #{remark},
        pay_time = #{payTime},
        <include refid="updateCommon"/>
        WHERE
        id = #{orderId}
    </update>

    <!-- 删除订单 -->
    <update id="updateOrderDelFlag">
        UPDATE
        `order`
        SET
        del_flag = 1
        WHERE
        id = #{id}
    </update>

    <!-- 根据订单id查询订单详情 -->
    <select id="queryOrderById" resultMap="order">
        SELECT
        id, code, out_trade_no, user_id, app_id, sup_no, sup_price, sup_status, discount,
        price, number, status, type, total_fee, price_type_name, price_type_unit,
        acct_type, account, game_account, game_area, game_serv, trade_method, trade_code,
        trade_fee, trade_status, invoice_status, remark, recharge_mode, dealer_id,
        create_time, modify_time
        FROM
        `order`
        WHERE
        id = #{orderId}
    </select>

    <!-- 根据订单id查询订单详情 -->
    <select id="queryOrderDetail" resultMap="order">
        SELECT
        o.id,
        o.type,
        o.acct_type,
        o.number,
        o.price_type_unit,
        o.out_trade_no,
        o.total_fee,
        o.trade_fee,
        o.trade_method,
        o.price,
        o.price_type_name,
        o. status,
        o.account,
        o.recharge_mode,
        o.create_time,
        app.id appId,
        app. NAME appName,
        image.file_url appIcon
        FROM
        `order` o
        INNER JOIN app_info app ON o.app_id = app.id
        LEFT JOIN sys_images image ON o.app_id = image.rel_id AND image.type = 1
        WHERE
        o.id = #{id}
    </select>

    <!-- 前台订单列表查询 -->
    <select id="queryFrontOrderList" resultType="com.jzy.api.model.biz.Order">
        SELECT
        o.id orderId,
        o.code,
        o.price,
        o.status,
        o.total_fee totalFee,
        o.price_type_name priceTypeName,
        o.trade_fee tradeFee,
        o.create_time createTime,
        app.id appId,
        app.name appName,
        img.file_url appIcon
        FROM
        `order` o
        INNER JOIN app_info app ON o.app_id = app.id
        LEFT JOIN sys_images AS img ON img.type = 1 AND img.rel_id = app.id
        WHERE
        o.del_flag = 0
        AND o.user_id = #{userId}
        <if test="status != null and status != 10">
            AND o.status = #{status}
        </if>
        <if test="status == 10">
            AND o.status IN (2,3,4)
        </if>
        <if test="status == null">
            AND o.status != 4
        </if>
        ORDER BY o.create_time DESC
    </select>

    <!-- 根据订单id查询卡密 -->
    <select id="queryCardPwdByIdAndCardNo" resultType="java.lang.String">
        SELECT
        card_pwd
        FROM
        order_cardkey
        WHERE
        id = #{cardPwdId}
        AND card_no = #{cardNo}
    </select>

    <!-- 更新订单状态 -->
    <update id="updateStatus">
        UPDATE
        `order`
        SET
        status = #{status}
        WHERE
        id = #{id}
    </update>

    <!-- 更新订单交易状态 -->
    <update id="updateTradeStatus">
        UPDATE
        `order`
        SET
        trade_status = #{tradeStatus}
        WHERE
        id = #{id}
    </update>

    <!-- 更新支付状态 -->
    <update id="updateStatusTradeStatusSupStatus">
        UPDATE
        `order`
        SET
        status = #{status},
        trade_status = #{tradeStatus},
        sup_status = #{supStatus}
        WHERE
        id = #{id}
    </update>

    <update id="updateStatusTrade">
        UPDATE
        `order`
        SET
        status = #{status},
        trade_code = #{tradeCode},
        trade_fee = #{tradeFee},
        trade_status = #{tradeStatus}
        WHERE
        id = #{id}
    </update>

    <update id="updateStatusSupStatusTrade">
        UPDATE
        `order`
        SET
        status = #{status},
        sup_status = #{supStatus},
        trade_code = #{tradeCode},
        trade_fee = #{tradeFee},
        trade_status = #{tradeStatus}
        WHERE
        id = #{id}
    </update>

    <!-- 更新订单的支付方式，流水号，交易状态 -->
    <update id="updateStatusTradeMethod">
        UPDATE
        `order`
        SET
        status = #{status},
        trade_method = #{tradeMethod},
        out_trade_no = #{outTradeNo}
        WHERE
        id = #{id}
    </update>

    <!-- 更新sup状态 -->
    <update id="updateSupStatus">
        UPDATE
        `order`
        SET
        sup_status = #{supStatus},
        finish_time = #{finishTime}
        WHERE
        id = #{id}
    </update>

    <!-- 查询订单状态 -->
    <select id="queryOrderStatus" resultMap="order">
        SELECT
        app_id,
        status
        FROM
        `order`
        WHERE
        id = #{id}
    </select>

    <!-- 根据订单id查询后台订单详情 -->
    <select id="queryBackOrderById" resultMap="order">
        SELECT
        o.id,
        o.code,
        o.out_trade_no,
        o.price,
        o.number,
        o.discount,
        o.total_fee,
        o.trade_fee,
        o.price_type_name,
        o.acct_type,
        o.account,
        o.game_area,
        o.game_serv,
        o.status,
        o.trade_method,
        o.trade_fee,
        o.del_flag,
        o.dealer_price,
        o.create_time,
        o.pay_time,
        o.finish_time,
        app.id appId,
        app. NAME appName,
        d.idnum dealerNum,
        d.name dealerName
        FROM
        `order` o
        INNER JOIN app_info app ON o.app_id = app.id
        INNER JOIN dealer d ON o.dealer_id = d.id
        WHERE
        o.id = #{id}
    </select>

    <!-- 订单列表查询 -->
    <select id="queryBackOrderList" resultMap="order">
        SELECT
        o.id,
        o.code,
        o.out_trade_no,
        d.idnum dealerNum,
        d. NAME dealerName,
        o.account,
        app. NAME appName,
        o.price,
        o.discount,
        o.total_fee,
        o.trade_fee,
        o.dealer_price,
        o.trade_method,
        o. status,
        o.sup_status,
        o.pay_time
        FROM
        `order` o
        INNER JOIN app_info app ON o.app_id = app.id
        INNER JOIN dealer d ON o.dealer_id = d.id
        WHERE
        1 = 1
        <if test="startDate != null and endDate != null">
            AND o.create_time >= #{startDate}
            AND o.create_time &lt; #{endDate}
        </if>
        <if test="supStatus != null">
            AND o.sup_status = #{supStatus}
        </if>
        <if test="status != null and status != 10">
            AND o.status = #{status}
        </if>
        <if test="status == 10">
            AND o.status IN (2,3,4)
        </if>
        <if test="status == null">
            AND o.status != 4
        </if>
        <if test="key != null and key!= ''">
            AND (
            o.code LIKE concat(concat('%',#{key}),'%')
            OR o.out_trade_no LIKE concat(concat('%',#{key}),'%')
            OR d.idnum LIKE concat(concat('%',#{key}),'%')
            )
        </if>
        ORDER BY
        o.modify_time
    </select>

    <!-- 已完成订单列表统计 -->
    <select id="queryBackOrderCount" resultMap="order">
        SELECT
        IFNULL(SUM(price), 0) priceTotal,
        IFNULL(SUM(total_fee), 0) totalFeeTotal,
        IFNULL(SUM(trade_fee), 0) tradeFeeTotal,
        IFNULL(SUM(dealer_price), 0) dealerPriceTotal
        FROM
        `order` o
        INNER JOIN dealer d ON o.dealer_id = d.id
        <if test="key != null and key != ''">
            AND (d.idnum LIKE concat(concat('%',#{key}),'%') OR d.name LIKE concat(concat('%',#{key}),'%'))
        </if>
        WHERE
        o.sup_status = 2
        AND o.status = 2
        AND trade_status = 'pay_success'
        <if test="startDate != null and endDate != null">
            AND o.create_time >= #{startDate}
            AND o.create_time &lt; #{endDate}
        </if>
    </select>

    <!-- 月订单列表查询 -->
    <select id="queryMonthOrderList" resultMap="order">
        SELECT
        dealer_id,
        idnum dealerNum,
        name dealerName,
        modify_time timeInterval,
        IFNULL(SUM(price), 0) priceTotal,
        IFNULL(SUM(trade_fee), 0) tradeFeeTotal,
        IFNULL(SUM(dealer_price), 0) dealerPriceTotal
        FROM
            (
                SELECT
                o.dealer_id,
                d.idnum,
                d.name,
                date_format(o.modify_time, '%Y-%d') modify_time,
                o.price,
                o.trade_fee,
                o.dealer_price
                FROM
                `order` o
                INNER JOIN dealer d ON o.dealer_id = d.id
                <if test="key != null and key != ''">
                   AND (d.idnum LIKE concat(concat('%',#{key}),'%') OR d.name LIKE concat(concat('%',#{key}),'%'))
                </if>
                WHERE
                o.del_flag = 0
                AND o.create_time >= #{startDate}
                AND o.create_time &lt; #{endDate}
            ) a
        GROUP BY
        dealer_id,
        modify_time DESC
    </select>

    <!-- 共同更新参数 -->
    <sql id="updateCommon">
        modifier_id = #{modifierId}, modify_time = #{modifyTime}
    </sql>

</mapper>
