<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	SQL映射文件名称：订单处理
	————————————————————————————————————
	修改日期		作者		变更内容
	20190426	邓冲	    创建了该文件
	————————————————————————————————————
	陕西佳之易网络科技有限公司 版本所有
 -->

<mapper namespace="com.jzy.api.dao.biz.TradeRecordMapper">

    <!-- 新增交易记录 -->
    <insert id="insert" parameterType="com.jzy.api.model.biz.TradeRecord">
        INSERT INTO trade_record (
        id, mark_id, operator, req_time, req_url, req_data, status, type, resp_time,
        resp_data, trusteeship, bg_resp_time, bg_resp_data,
        del_flag, creator_id, modifier_id, create_time, modify_time
        )
        VALUES(
        #{tradeRecordId}, #{markId}, #{operator}, #{reqTime}, #{reqUrl}, #{reqData}, #{status}, #{type}, #{respTime},
        #{respData}, #{trusteeship}, #{bgRespTime}, #{bgRespData},
        #{delFlag}, #{creatorId}, #{modifierId}, #{createTime}, #{modifyTime}
        )
    </insert>

    <!-- 更新交易记录 -->
    <update id="update" parameterType="com.jzy.api.model.biz.TradeRecord">
        UPDATE
        trade_record
        SET mark_id = #{markId},
        status = #{status},
        resp_time = #{respTime},
        resp_data = #{respData},
        bg_resp_time = #{bgRespTime},
        bg_resp_data = #{bgRespData}
        WHERE
        id = #{id}
    </update>

    <!-- 查询交易详情 -->
    <select id="queryById" resultType="com.jzy.api.model.biz.TradeRecord">
        SELECT
         id,
         mark_id,
         operator_id,
         req_time,
         req_url,
         req_data,
         status,
         type,
         resp_time,
         resp_data,
         trusteeship,
         bg_resp_time,
         bg_resp_data
         FROM trade_record
         WHERE
         id = #{id}
    </select>

    <!-- 更新交易记录 -->
    <update id="updateBgRespByIdStatus">

    </update>

    <!-- 更新交易记录_(微信)退款通知 -->
    <update id="updateBgRespByOperatorStatus">

    </update>

    <!-- 更新交易记录_(支付宝)支付完成回调 -->
    <update id="updateRespByOperatorStatus">

    </update>

    <!-- 查询 -->
    <select id="queryOperator" resultType="com.jzy.api.model.biz.TradeRecord">

    </select>

</mapper>