<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jzy.api.dao.auth.SysRoleMapper">
    <insert id="add" parameterType="com.jzy.api.model.auth.Role">
        INSERT INTO `sys_role`(`role_name`, `role_value`, `decription`, `status`, `create_time`, `modify_time`, `create_id`, `modify_id`, `del_flag`)
        VALUES (#{role.roleName}, #{role.roleValue}, #{role.description}, #{role.status}, #{role.createTime}, #{role.modifyTime}, #{role.createId} #{role.modifyId}, #{role.delFlag});
    </insert>

    <update id="update" parameterType="com.jzy.api.model.auth.Role">
        UPDATE `sys_role`
        SET
            `name` = #{role.name},
            `role_value` = #{role.roleValue},
            `decription` = #{role.description},
            `status` = #{role.status},
            `modify_time` = #{role.modifyTime},
            `modify_id` = #{role.modifyId}
        WHERE `id`= #{role.id};
    </update>
    <update id="updateDelFLag">
        UPDATE `sys_role`
        SET `del_flag` = 1
        WHERE `id` = #{id};
    </update>


    <select id="queryById" resultType="com.jzy.api.model.auth.Role">
        SELECT
            name,
            role_value AS roleValue,
            decription,
            status,
            del_flag AS delFlag
        FROM `sys_role`
        WHERE id = 1
        AND status = 0
        AND del_flag = 0
    </select>
    <select id="list" resultType="com.jzy.api.vo.auth.SysRoleVo">
        SELECT
        id,
        name,
        role_value AS roleValue,
        description,
        `status`
        FROM `sys_role`
        <where>
            status = 0
            AND
            del_flag = 0
            <if test="sysRoleCnd.roleName != null and sysRoleCnd.roleName != ''">
               AND name LIKE CONCAT ('%',#{sysRoleCnd.name},'%')
            </if>
            <if test="sysRoleCnd.roleValue != null and sysRoleCnd != ''">
               AND role_value LIKE CONCAT ('%',#{sysRoleCnd.roleValue},'%')
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="findByIds" resultType="com.jzy.api.model.auth.Role">
        SELECT
            name,
            role_value AS roleValue,
            decription,
            status,
            del_flag AS delFlag
        FROM sys_role
        WHERE id IN
        (
            <foreach collection="roleList" item="id" separator=",">
                #{id}
            </foreach>
        )
    </select>
</mapper>