<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	SQL映射文件名称：渠道商基础信息
	————————————————————————————————————
	修改日期		作者		变更内容
	20190505	唐永刚	    创建了该文件
	————————————————————————————————————
	陕西佳之易网络科技有限公司 版本所有
 -->

<mapper namespace="com.jzy.api.dao.arch.DealerMapper">

    <!-- 获取渠道商私钥  -->
    <select id="getAnalysisInfo"
            resultType="com.jzy.api.po.arch.DealerAnalysisInfoPo">

        SELECT
             id as dealerId,
            pubkey,
            prikey
        FROM
            dealer
        WHERE
            idnum =#{idNum}
        AND verified = 1
        AND state = 0
    </select>

</mapper>