<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	SQL映射文件名称：渠道商基础信息
	————————————————————————————————————
	修改日期		作者		变更内容
	20190505	唐永刚	    创建了该文件
	————————————————————————————————————
	陕西佳之易网络科技有限公司 版本所有
 -->

<mapper namespace="com.jzy.api.dao.arch.DealerMapper">

    <select id="queryById" resultType="com.jzy.api.model.dealer.Dealer">
        SELECT
        id as dealerId,
        pubkey,
        prikey,
        sup_businessid supBusinessid,
        sup_key supKey
        FROM
        dealer
        WHERE
        id = #{id}
    </select>

    <!-- 获取渠道商私钥  -->
    <select id="getAnalysisInfo"
            resultType="com.jzy.api.po.arch.DealerAnalysisInfoPo">

        SELECT
             id as dealerId,
            pubkey,
            prikey
        FROM
            dealer
        WHERE
            idnum =#{idNum}
        AND verified = 1
        AND state = 0
    </select>

    <!--  渠道商列表查询  -->
    <select id="getList" resultType="com.jzy.api.po.dealer.DealerListPo">
        SELECT
        dbi.id AS id,
        dbi.dealer_id AS dealerId,
        dbi.dealer_name as dealerName,
        dbi.dealer_short_name AS dealerShortName,
        dbi.dealer_no AS dealerNo,
        dbi.dealer_payment_method AS dealerPaymentMethod,
        d.state AS state,
        d.idnum AS idnum
        FROM
        dealer d
        left JOIN
        dealer_base_info dbi
        on dbi.dealer_id = d.id
        WHERE
        1 = 1
        <if test="queryName!=null">
            AND (
            dbi.dealer_short_name LIKE CONCAT('%',#{queryName},'%')
            OR dbi.dealer_name LIKE CONCAT('%',#{queryName},'%')
            OR dbi.dealer_no LIKE CONCAT('%',#{queryName},'%')
            )
        </if>
    </select>

    <!-- 渠道商详情 -->
    <select id="detail"
            resultType="com.jzy.api.vo.dealer.DealerDetailVo">
        SELECT
            dbi.id,
            dbi.dealer_no AS dealerNo,
            dbi.dealer_id AS dealerId,
            dbi.dealer_name AS dealerName,
            dbi.dealer_short_name AS dealerShortName,
            dbi.dealer_business_num AS dealerBusinessNum,
            dbi.dealer_business_picture AS dealerBusinessPicture,
            dbi.dealer_contract AS dealerContract,
            dbi.dealer_legal_name AS dealerLegalName,
            dbi.dealer_address AS dealerAddress,
            dbi.dealer_contact AS dealerContact,
            dbi.dealer_telephone AS dealerTelephone,
            dbi.dealer_card AS dealerCard,
            dbi.dealer_card_picture AS dealerCardPicture,
            dbi.dealer_bank_name AS dealerBankName,
            dbi.dealer_bank_no AS dealerBankNo,
            dbi.dealer_payment_method AS dealerPaymentMethod,
            dbi.notes ,
            d.idnum ,
            d.state,
            d.idnum AS idnum,
            d.pubkey as pubkey,
            d.prikey as prikey,
            d.sup_businessid as supBusinessid,
            d.sup_key as supKey,
            se. NAME AS dealerLoginName,
            se.pwd AS dealerPassword
        FROM
            dealer d
        LEFT JOIN dealer_base_info dbi
         ON dbi.dealer_id = d.id
        LEFT JOIN sys_emp se ON d.id = se.dealer_id
        WHERE
            1 = 1
        AND dbi.dealer_id = #{id}


    </select>

</mapper>