<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	SQL映射文件名称：渠道商基础信息
	————————————————————————————————————
	修改日期		作者		变更内容
	20190505	唐永刚	    创建了该文件
	————————————————————————————————————
	陕西佳之易网络科技有限公司 版本所有
 -->

<mapper namespace="com.jzy.api.dao.arch.DealerParamMapper">

    <!--    根据渠道商id获取渠道商配置信息-->
    <select id="getDealerParamInfo"
            resultType="com.jzy.api.po.arch.DealerParamInfoPo">
            SELECT
            dealer_id AS dealerId,
            dealer_key AS dealerKey,
            dealer_value AS dealerValue,
            dealer_note AS dealerNote
            FROM
            dealer_param_info
            WHERE
            1 = 1
            AND dealer_id = #{dealerId}
    </select>


    <!--    新增-->
    <insert id="insert" parameterType="com.jzy.api.model.dealer.DealerParam">
        INSERT INTO dealer_param_info (
            `id`,
            `dealer_id`,
            `dealer_key`,
            `dealer_value`,
            `dealer_note`,
            `creator_id`,
            `modifier_id`,
            `create_time`,
            `modify_time`
        )
        VALUES
            (
            #{id},
            #{dealerId},
            #{dealerKey},
            #{dealerValue},
            #{dealerNote},
            #{creatorId},
            #{modifierId},
             #{createTime},
              #{modifyTime}
            )
    </insert>

    <!--    根据渠道商Id删除对应的参数配置-->
    <delete id="deleteByDealerId">
        DELETE
        FROM
            dealer_param_info
        WHERE
            dealer_id = #{dealerId}
    </delete>


</mapper>