<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	SQL映射文件名称：渠道商基础信息
	————————————————————————————————————
	修改日期		作者		变更内容
	20190505	唐永刚	    创建了该文件
	————————————————————————————————————
	陕西佳之易网络科技有限公司 版本所有
 -->

<mapper namespace="com.jzy.api.dao.arch.DealerAppPriceInfoMapper">

    <select id="getDealerAppPriceType" resultType="com.jzy.api.model.dealer.DealerAppPriceType">
        select is_custom as isCustom
        from dealer_app_price_type
        where ai_id=#{aiId}
        and dealer_id=#{dealerId}
        and apt_id=#{aptId}
    </select>

    <!--新增-->
    <insert id="insertAppPriceType"
            parameterType="com.jzy.api.model.dealer.DealerAppPriceType">
        INSERT INTO
            dealer_app_price_type (
            `id`,
            `ai_id`,
            `apt_id`,
            `dealer_id`,
            `is_custom`
        )
        VALUES(
            #{id},
            #{aiId},
            #{aptId},
            #{dealerId},
            #{isCustom}
        )
    </insert>
    <delete id="deleteAppPriceType">
        delete from
        dealer_app_price_type
        where
        dealer_id=#{dealerId}
        and ai_id=#{aiId}
    </delete>

    <!-- 前台查询商品价格接口-->

    <select id="getList"
            parameterType="com.jzy.api.cnd.arch.GetDealerAppListCnd"
            resultType="com.jzy.api.vo.dealer.GetDealerAppVo">
        <if test="status==null">
            SELECT
            aa.aiId,
            aa.appStatus,
            aa.dealerAppStatus,
            aa.`CODE`,
            aa.appName,
            aa.cateName,
            aa.typeName,
            aa.companyName,
            aa.discount,
            aa.supNo
            FROM
            (
            SELECT
            ai.id AS aiId,
            ai. STATUS AS appStatus,
            dai. STATUS AS dealerAppStatus,
            ai. CODE,
            ai. NAME AS appName,
            f_get_app_cate_name (ai.cate_id) AS cateName,
            f_get_app_type_name (ai.type_id) AS typeName,
            f_get_app_company_name (ai.acp_id) AS companyName,
            dapi.discount,
            dapi.sup_no AS supNo,
            ai.acp_id,
            ai.cate_id,
            ai.type_id
            FROM
            app_info ai
            LEFT JOIN dealer_app_info dai ON dai.ai_id = ai.id
            LEFT JOIN (
            SELECT
            GROUP_CONCAT(sup_no SEPARATOR ',') AS sup_no,
            GROUP_CONCAT(discount SEPARATOR ',') AS discount,
            ai_id,
            dealer_id
            FROM
            dealer_app_price_info
            GROUP BY
            ai_id,
            dealer_id
            ) AS dapi ON dapi.ai_id = ai.id
            AND dapi.dealer_id = dai.dealer_id
            WHERE
            1 = 1
            AND ai.del_flag = 0
            AND dai.dealer_id = #{dealerId}
            UNION ALL
            SELECT
            ai.id AS aiId,
            ai. STATUS AS appStatus,
            ai. CODE AS dealerAppStatus,
            ai. CODE,
            ai. NAME AS appName,
            f_get_app_cate_name (ai.cate_id) AS cateName,
            f_get_app_type_name (ai.type_id) AS typeName,
            f_get_app_company_name (ai.acp_id) AS companyName,
            ai. CODE AS discount,
            ai. CODE AS supNo,
            ai.acp_id,
            ai.cate_id,
            ai.type_id
            FROM
            app_info ai
            WHERE
            1 = 1
            AND ai.del_flag = 0
            AND NOT EXISTS (
            SELECT
            dai.ai_id
            FROM
            dealer_app_info dai
            WHERE
            dai.ai_id = ai.id
            AND dai.dealer_id = #{dealerId}
            )
            ) aa
            WHERE 1 = 1
            <if test="status!=null ">
                and aa. dealerAppStatus = #{status}
            </if>
            <if test=" cateId!=null ">
                AND aa.cate_id =#{cateId}
            </if>
            <if test=" acpId!=null ">
                and aa.acp_id=#{acpId}
            </if>
            <if test=" typeId!=null ">
                and aa.type_id=#{typeId}
            </if>
            <if test=" searchName!=null ">
                and
                (aa.appName LIKE CONCAT('%',#{searchName},'%')
                or aa.code LIKE CONCAT('%',#{searchName},'%')
                or aa.supNo LIKE CONCAT('%',#{searchName},'%')
                )
            </if>
        </if>

        <if test="status==0 or status==1">
            SELECT
            aa.aiId,
            aa.appStatus,
            aa.dealerAppStatus,
            aa.`CODE`,
            aa.appName,
            aa.cateName,
            aa.typeName,
            aa.companyName,
            aa.discount,
            aa.supNo
            FROM
            (
            SELECT
            ai.id as aiId,
            ai.status as appStatus,
            dai. status as dealerAppStatus,
            ai. CODE,
            ai. NAME AS appName,
            f_get_app_cate_name (ai.cate_id) AS cateName,
            f_get_app_type_name (ai.type_id) AS typeName,
            f_get_app_company_name (ai.acp_id) AS companyName,
            dapi.discount,
            dapi.sup_no as supNo,
            ai.acp_id,
            ai.cate_id,
            ai.type_id
            FROM
            app_info ai
            LEFT JOIN dealer_app_info dai ON dai.ai_id = ai.id
            LEFT JOIN (
            SELECT
            GROUP_CONCAT(sup_no SEPARATOR ',') AS sup_no,
            GROUP_CONCAT(discount SEPARATOR ',') AS discount,
            ai_id,
            dealer_id
            FROM
            dealer_app_price_info
            GROUP BY
            ai_id,
            dealer_id
            ) AS dapi ON dapi.ai_id = ai.id
            AND dapi.dealer_id = dai.dealer_id
            WHERE
            1 = 1
            AND ai.del_flag = 0
            AND dai.dealer_id = #{dealerId}
            ) aa
            WHERE
            1=1
            <if test="status!=null ">
                and aa. dealerAppStatus = #{status}
            </if>
            <if test=" cateId!=null ">
                AND aa.cate_id =#{cateId}
            </if>
            <if test=" acpId!=null ">
                and aa.acp_id=#{acpId}
            </if>
            <if test=" typeId!=null ">
                and aa.type_id=#{typeId}
            </if>
            <if test=" searchName!=null ">
                and
                (aa.appName LIKE CONCAT('%',#{searchName},'%')
                or aa.code LIKE CONCAT('%',#{searchName},'%')
                or aa.supNo LIKE CONCAT('%',#{searchName},'%')
                )
            </if>

        </if>

        <if test="status==2">
            SELECT
            aa.aiId,
            aa.appStatus,
            aa.dealerAppStatus,
            aa.`CODE`,
            aa.appName,
            aa.cateName,
            aa.typeName,
            aa.companyName,
            aa.discount,
            aa.supNo
            FROM
            (
            SELECT
            ai.id as aiId,
            ai. status AS appStatus,
            ai.code as dealerAppStatus,
            ai. code,
            ai. NAME AS appName,
            f_get_app_cate_name (ai.cate_id) AS cateName,
            f_get_app_type_name (ai.type_id) AS typeName,
            f_get_app_company_name (ai.acp_id) AS companyName,
            ai. CODE AS discount,
            ai. CODE AS supNo,
            ai.acp_id,
            ai.cate_id,
            ai.type_id
            FROM
            app_info ai
            WHERE
            1 = 1
            AND ai.del_flag = 0
            AND NOT EXISTS (
            SELECT
            dai.ai_id
            FROM
            dealer_app_info dai
            WHERE
            dai.ai_id = ai.id
            AND dai.dealer_id = #{dealerId}
            )
            ) aa
            WHERE
            1=1
            <if test=" cateId!=null ">
                AND aa.cate_id =#{cateId}
            </if>
            <if test=" acpId!=null ">
                and aa.acp_id=#{acpId}
            </if>
            <if test=" typeId!=null ">
                and aa.type_id=#{typeId}
            </if>
            <if test=" searchName!=null ">
                and
                (aa.appName LIKE CONCAT('%',#{searchName},'%')
                or aa.code LIKE CONCAT('%',#{searchName},'%')
                or aa.supNo LIKE CONCAT('%',#{searchName},'%')
                )
            </if>
        </if>
    </select>

    <!-- 获取前台商品详情信息-->

    <select id="getPrice" resultType="com.jzy.api.po.arch.DealerAppPriceInfoPo">
            select
                apt_id as typeId,
                price,
                pay_price  as payPrice,
                sup_price as supPrice,
                sup_no as supNo,
                number,
                discount,
                dealer_price as dealerPrice
            FROM dealer_app_price_info
            WHERE 1=1
            and dealer_id=#{dealerId}
            and apt_id=#{aptId}
            and ai_id=#{aiId}
            and status=1
    </select>


    <!-- 查询渠道商下对应的商品列表   -->
    <select id="getFrontAppInfo" resultType="com.jzy.api.po.arch.AppDetailPo">
        SELECT
        ai.id AS appId,
        ai. NAME AS appName,
        img.file_url AS appIcon,
        ai.type_id as typeId,
        ai.game_id as gameId,
        ai.recharge_mode AS rechargeMode,
        ap.content AS content,
        aa.main_name AS accMainName,
        aa.main_regular AS accMainRegular,
        aa.main_msg AS accMainMsg,
        aa.sub_name AS accSubName,
        aa.sub_regular AS accSubRegular,
        aa.sub_msg AS accSubMsg
        FROM dealer_app_info dai
        LEFT JOIN app_info ai ON dai.ai_id = ai.id
        LEFT JOIN app_accttype aa ON ai.acct_id = aa.id
        LEFT JOIN app_page ap ON ai.id = ap.ai_id
        LEFT JOIN sys_images as img ON img.type = 1 AND img.rel_id = ai.id
        WHERE
        dai.dealer_id = #{dealerId}
        AND dai. STATUS = 1
        and dai.ai_id
        in
        <foreach collection="aiIdList" index="index" item="item" open="("
                 close=")" separator=",">
            #{item}
        </foreach>
        and ai.status=1
    </select>


    <!-- 查询渠道商商品面值详情  -->

    <select id="getDealerAppPriceInfo"
            resultType="com.jzy.api.po.arch.DealerAppPriceInfoPo">
            SELECT
                price,
                pay_price as payPrice,
                sup_price as supPrice,
                sup_no as supNo,
                number,
                discount,
                dealer_price as dealerPrice,
                STATUS
            FROM
                dealer_app_price_info
            WHERE
                1 = 1
            AND ai_id =#{aiId}
            AND dealer_id =#{dealerId}
            AND apt_id =#{aptId}
    </select>

    <!-- 全量更新物理删除 -->
    <delete id="deleteByDealerIdAndaiId">
        DELETE
        FROM
        dealer_app_price_info
        WHERE
        ai_id =#{aiId}
        AND dealer_id =#{dealerId}
    </delete>

    <!--    insert-->
    <insert id="insert"
            parameterType="com.jzy.api.model.dealer.DealerAppPriceInfo">

            INSERT INTO  dealer_app_price_info (
                `id`,
                `ai_id`,
                `apt_id`,
                `price`,
                `pay_price`,
                `sup_price`,
                `sup_no`,
                `number`,
                `discount`,
                `dealer_price`,
                `tips`,
                `status`,
                `remark`,
                `dealer_id`,
                `creator_id`,
                `create_time`,
                `modifier_id`,
                `modify_time`
            )
            VALUES
                (
                #{id},
                #{aiId},
                #{aptId},
                #{price},
                #{payPrice},
                #{supPrice},
                #{supNo},
                #{number},
                #{discount},
                #{dealerPrice},
                #{tips},
                #{status},
                #{remark},
                #{dealerId},
                #{creatorId},
                #{createTime},
                #{modifierId},
                #{modifyTime}
                )
        </insert>

</mapper>
