<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	SQL映射文件名称： 厂商
	————————————————————————————————————
	修改日期		作者		变更内容
	20190507	唐永刚	    创建了该文件
	————————————————————————————————————
	陕西佳之易网络科技有限公司 版本所有
 -->

<mapper namespace="com.jzy.api.dao.app.AppCompanyMapper">
    <!--列表查询-->
    <select id="getList" resultType="com.jzy.api.po.app.AppCompanyPo">
		SELECT
		`id`,
		`name`
		FROM
		app_company
</select>


</mapper>