<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	SQL映射文件名称： 厂商
	————————————————————————————————————
	修改日期		作者		变更内容
	20190507	唐永刚	    创建了该文件
	————————————————————————————————————
	陕西佳之易网络科技有限公司 版本所有
 -->

<mapper namespace="com.jzy.api.dao.app.AppCompanyMapper">
    <!--列表查询-->
    <select id="getList" resultType="com.jzy.api.po.app.AppCompanyPo">
		SELECT
		`id`,
		`name`
		FROM
		app_company
	</select>

	<!--添加-->
	<insert id="insert" parameterType="com.jzy.api.model.app.AppCompany">
    	INSERT INTO app_company (
            `id`,
            `name`,
            `icon`,
            `creator_id`,
            `modifier_id`,
            `create_time`,
            `modify_time`
        )
        VALUES
            (
            #{id},
            #{name},
            #{icon},
            #{creatorId},
            #{modifierId},
            #{createTime},
            #{modifyTime}
            )
    </insert>

	<!-- 修改-->
	<update id="update" parameterType="com.jzy.api.model.app.AppCompany">
        UPDATE
        app_company
        SET
        `name` = #{name},
        `icon` = #{icon},
        `modifier_id` =  #{modifierId},
        `modify_time` =  #{modifyTime}
        WHERE
        id = #{id}
    </update>

	<!--删除厂商-->
	<delete id="delete" >
		delete from app_company where id=#{id}
	</delete>

	<!--根据厂商name查询数量-->
	<select id="getCountByName" resultType="java.lang.Integer">
		select count(1) from app_company where name=#{name}
	</select>

	<!--根据厂商name和id查询数量-->
	<select id="getByNameNotId" resultType="java.lang.Integer">
		select count(1) from app_company where name=#{name} and id!=#{id}
	</select>

    <!--厂商列表分页查询-->
    <select id="listPage" parameterType="com.jzy.api.cnd.app.AppCompanyCnd"
            resultType="com.jzy.api.vo.app.AppCompanyVo">
        select id,name,icon from app_company
        <where>
            <if test="name!=null">
                name like CONCAT('%',#{name},'%')
            </if>
        </where>
         order by create_time desc
    </select>


</mapper>