<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	SQL映射文件名称：游戏
	————————————————————————————————————
	修改日期		作者		变更内容
	20190506	唐永刚	    创建了该文件
	————————————————————————————————————
	陕西佳之易网络科技有限公司 版本所有
 -->

<mapper namespace="com.jzy.api.dao.app.AppGameMapper">

    <!--    前台渠道商对应商品查询区-->
    <select id="getAreaInfo" resultType="com.jzy.api.po.app.AppGameListPo">
        SELECT
            ag.id,
            ag.p_id AS pId,
            ag. NAME
        FROM
            app_info ai
        LEFT JOIN app_game ag ON ai.game_id = ag.p_id
        WHERE
            ai.id = #{aiId}
        AND ag.type = 2
        AND ai. STATUS = 1
    </select>

    <!--  前台渠道商对应商品查询服  -->
    <select id="getServInfo" resultType="com.jzy.api.po.app.AppGameListPo">
        SELECT
            ag.id,
            ag.p_id AS pId,
            ag. NAME
        FROM
            app_game ag
        WHERE
            ag.p_id = #{areaId}
        AND ag.type = 3
    </select>

    <!--    校验当前商品是否存在区-->
    <select id="checkAreaInfo" resultType="com.jzy.api.po.app.AppGameListPo">
          SELECT
            ag.id,
            ag.p_id AS pId,
            ag. NAME
        FROM
            app_game ag
        WHERE
            ag.p_id = #{pid}
        AND ag.type = 2
        and NAME != '无'
        AND NAME != ' '

    </select>

    <!--    校验当前商品是否存在服-->
    <select id="checkServInfo" resultType="com.jzy.api.po.app.AppGameListPo">
        SELECT
        ag.id,
        ag.p_id AS pId,
        ag. NAME
        FROM
        app_game ag
        WHERE
         ag.type = 3
        and NAME != '无'
        AND NAME != ' '
        and
        ag.p_id in
        <foreach collection="ids" index="index" separator="," open="(" close=")" item="item">
            #{item}
        </foreach>

    </select>
</mapper>
