<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	SQL映射文件名称：游戏
	————————————————————————————————————
	修改日期		作者		变更内容
	20190506	唐永刚	    创建了该文件
	————————————————————————————————————
	陕西佳之易网络科技有限公司 版本所有
 -->

<mapper namespace="com.jzy.api.dao.app.AppGameMapper">
    <!--    前台渠道商对应商品查询区-->
    <select id="getAreaInfo" resultType="com.jzy.api.po.app.AppGameListPo">
        SELECT
            ag.id,
            ag.p_id AS pId,
            ag. NAME
        FROM
            app_info ai
        LEFT JOIN app_game ag ON ai.game_id = ag.p_id
        WHERE
            ai.id = #{aiId}
        AND ag.type = 2
        AND ai. STATUS = 1
    </select>

    <!--  前台渠道商对应商品查询服  -->
    <select id="getServInfo" resultType="com.jzy.api.po.app.AppGameListPo">
        SELECT
            ag.id,
            ag.p_id AS pId,
            ag. NAME
        FROM
            app_game ag
        WHERE ag.type = 3

        <if test="areaId!=null and areaId!=0">
            AND ag.p_id = #{areaId}
        </if>
        <if test="areaId==null or areaId==0">
            AND ag.p_id = (SELECT id FROM app_game WHERE p_id = (SELECT game_id FROM app_info where id = #{aiId} LIMIT 1) LIMIT 1)
        </if>
    </select>

    <!--    校验当前商品是否存在区-->
    <select id="checkAreaInfo" resultType="com.jzy.api.po.app.AppGameListPo">
          SELECT
            ag.id,
            ag.p_id AS pId,
            ag. NAME
        FROM
            app_game ag
        WHERE
            ag.p_id = #{pid}
        AND ag.type = 2
        and NAME != '无'
        AND NAME != ' '

    </select>

    <!--    校验当前商品是否存在服-->
    <select id="checkServInfo" resultType="com.jzy.api.po.app.AppGameListPo">
        SELECT
        ag.id,
        ag.p_id AS pId,
        ag. NAME
        FROM
        app_game ag
        WHERE
        ag.type = 3
        and NAME != '无'
        AND NAME != ' '
        and
        ag.p_id in
        <foreach collection="ids" index="index" separator="," open="(" close=")"
                 item="item">
            #{item}
        </foreach>

    </select>


    <!--    后台游戏列表查询-->

    <select id="getList" parameterType="com.jzy.api.cnd.app.GameListCnd"
            resultType="com.jzy.api.po.app.AppGamePo">
        select
        game.id,
        game.p_id as pId,
        game.`name`,
        game.type
        FROM
        app_game game
        WHERE
        1 = 1
        AND game.p_id = #{pId}
        AND game.type =#{type}
        <if test="queryName!=null">
            AND game. NAME LIKE CONCAT('%', #{queryName}, '%')
        </if>


    </select>

    <!--insert-->
    <insert id="insert" parameterType="com.jzy.api.model.app.AppGame">
    	INSERT INTO app_game (
            `id`,
            `p_id`,
            `name`,
            `type`,
            `status`,
            `sort`,
            `creator_id`,
            `modifier_id`,
            `create_time`,
            `modify_time`
        )
        VALUES
            (
            #{id},
            #{pId},
            #{name},
            #{type},
            #{status},
            #{sort},
            #{creatorId},
            #{modifierId},
            #{createTime},
            #{modifyTime}
            )
    </insert>

    <!--根据id获取appgame-->
    <select id="queryById" resultType="com.jzy.api.model.app.AppGame">
         SELECT
              id,p_id,name,type,status,sort
          FROM
            app_game
          WHERE id = #{id}
    </select>

    <!-- 根据p_id获取游戏个数-->
    <select id="getCountByPId" resultType="Integer">
        SELECT
        count(1)
        FROM
        app_game where p_id=#{pId} and type=1
    </select>

    <!-- 根据p_id,name,type获取个数-->
    <select id="getByIdNameType" resultType="java.lang.Integer">
        select count(1) from app_game where p_id=#{pId} and name=#{name} and type=#{type}
    </select>

    <!-- 根据p_id获取appgame信息-->
    <select id="getByPid" resultType="com.jzy.api.model.app.AppGame">
        select p_id,name,type,status,sort,remark from app_game where id=#{pId}
    </select>

    <!-- 根据id获取appgame信息-->
    <select id="getById" resultType="com.jzy.api.model.app.AppGame">
        select id,p_id,name,type,status,sort,remark from app_game where id=#{id}
    </select>

    <select id="getListByPid" resultType="com.jzy.api.model.app.AppGame">
         select id from app_game where p_id=#{pId}
    </select>

    <!--批量删除-->
    <delete id="deleteBatch">
        delete from app_game where id in (
          <foreach collection="list" item="id" separator=",">
            #{id}
          </foreach>)
    </delete>

    <!--根据name和id查询游戏大区数量-->
    <select id="getByNameNotId" resultType="java.lang.Integer">
        select count(1) from app_game where name=#{name} and id!=#{id}
    </select>

    <!-- 修改-->
    <update id="update" parameterType="com.jzy.api.model.app.AppGame">
        UPDATE
        app_game
        SET
        `name` = #{name},
        <if test="sort!=null">
            `sort` = #{sort},
        </if>
        `modifier_id` =  #{modifierId},
        `modify_time` =  #{modifyTime}
        WHERE
        id = #{id}
    </update>

    <!--游戏大区分页查询-->
    <select id="listPage"  parameterType="com.jzy.api.cnd.app.AppGameListCnd"
            resultType="com.jzy.api.vo.app.AppGameVo">
        select id,p_id as pid,name,type,status,sort from app_game
        where p_id=#{pId} and type=#{type}
        <if test="name!=null">
            and name like CONCAT('%',#{name},'%')
        </if>
        order by create_time desc
    </select>
</mapper>
