<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	SQL映射文件名称：权限业务
	————————————————————————————————————
	修改日期		作者		变更内容
	20190424	邓冲	    创建了该文件
	————————————————————————————————————
	陕西佳之易网络科技有限公司 版本所有
 -->

<mapper namespace="com.jzy.api.dao.app.AppInfoMapper">


    <!--    分页查询商品列表-->
    <select id="listPage" parameterType="com.jzy.api.cnd.app.AppInfoListCnd"
            resultType="com.jzy.api.vo.app.AppInfoListVo">

        SELECT
        ai.id as aiId,
        ai.sort as aiSort,
        ai.`code` as aiCode,
        ai.`name` as aiName,
        img.file_url as aiIcon,
        ai.recharge_mode as aiRechargeMode,
        ai.`status` as aiStatus,
        ai.modify_time as modifyTime,
        ac.`name` as acName,
        `at`.`name` as atName,
        acp.`name` as acpName
        FROM app_info ai
        LEFT JOIN app_cate ac ON ai.cate_id = ac.id
        LEFT JOIN app_type `at` ON ai.type_id = `at`.id
        LEFT JOIN app_company acp ON ai.acp_id = acp.id
        LEFT JOIN sys_images as img ON img.type = 1 AND img.rel_id = ai.id
        WHERE 1 = 1 AND ai.del_flag = 0
        <if test="cateId!=null">
            AND ai.cate_id = #{cateId}
        </if>
        <if test="acpId!=null">
            AND ai.acp_id = #{acpId}
        </if>
        <if test="typeId!=null">
            AND ai.type_id = #{typeId}
        </if>
        <if test="rechargeMode!=null">
            AND ai.recharge_mode = #{rechargeMode}
        </if>
        <if test="status!=null">
            and ai.status = #{status}
        </if>
        <if test="query!=null">
            AND
            ( ai. NAME LIKE CONCAT('%',#{query},'%')
            OR ai.code LIKE CONCAT('%',#{query},'%'))
        </if>
        ORDER BY ai.sort desc , ai.create_time DESC

    </select>
    <!--insert-->
    <insert id="insert" parameterType="com.jzy.api.model.app.AppInfo">
            INSERT INTO app_info (
                   `id`,
            `code`,
            `cate_id`,
            `acct_id`,
            `acp_id`,
            `game_id`,
            `type_id`,
            `name`,
            `icon`,
            `label`,
            `first_letter`,
            `spll_letter`,
            `recharge_mode`,
            `status`,
            `describe`,
            `page_path`,
            `remark`,
            `del_flag`,
            `is_hot`,
            `is_reco`,
            `creator_id`,
            `modifier_id`,
            `create_time`,
            `modify_time`
        )
        VALUES
            (
            #{id},
            #{code},
            #{cateId},
            #{acctId},
            #{acpId},
            #{gameId},
            #{typeId},
            #{name},
            #{icon},
            #{label},
            #{firstLetter},
            #{spllLetter},
            #{rechargeMode},
            #{status},
            #{describe},
            #{pagePath},
            #{remark},
            #{delFlag},
            #{isHot},
            #{isReco},
            #{creatorId},
            #{modifierId},
            #{createTime},
            #{modifyTime}
            )
    </insert>

    <!-- 修改-->
    <update id="update" parameterType="com.jzy.api.model.app.AppInfo">
        UPDATE
        app_info
        SET
        `code` =#{code},
        cate_id =#{cateId},
        acct_id =#{acctId},
        acp_id =#{acpId},
        game_id =#{gameId},
        type_id =#{typeId},
        `name` =#{name},
        icon =#{icon},
        label =#{label},
        first_letter =#{firstLetter},
        spll_letter =#{spllLetter},
        recharge_mode =#{rechargeMode},
        `status` =#{status},
        `describe` =#{describe},
        page_path =#{pagePath},
        remark =#{remark},
        is_hot =#{isHot},
        is_reco =#{isReco},
        `modifier_id` =  #{modifierId},
        `modify_time` =  #{modifyTime}
        WHERE
        id =#{id}
    </update>

    <!-- 查询商品信息-->
    <select id="getAppInfo" resultType="com.jzy.api.po.app.AppInfoPo">

            SELECT
            ai.id,
            `code`,
            cate_id  as cateId,
            acct_id  as acctId,
            acp_id  as acpId,
            game_id as gameId,
            type_id typeId,
            `name`,
            img.file_url as icon,
            label,
            first_letter as firstLetter,
            spll_letter as spllLetter,
            recharge_mode  as rechargeMode,
            STATUS,
            sort,
            is_hot  as isHot,
            is_reco as isReco
        FROM app_info ai
        LEFT JOIN sys_images as img ON img.type = 1 AND img.rel_id = ai.id
        WHERE
            1 = 1
    AND ai.id = #{aiId}
    </select>

    <!--    商品批量修改状态-->
    <update id="updateStatusBatch">
        UPDATE
        app_info
        SET status =#{status}
        WHERE
        id =#{aiId}
    </update>

    <!--    批量逻辑删除-->
    <update id="deleteBatch">
        UPDATE
        app_info
        SET del_flag =1
        WHERE
        id =#{aiId}
    </update>

    <!--    获取商品编号-->
    <select id="getMaxCode" resultType="Integer">
        SELECT
        MAX( cast(`code` AS SIGNED INTEGER) ) max_code
        FROM
        app_info
    </select>

    <!--    查询名称列表-->
    <select id="listName" resultType="com.jzy.api.model.app.AppInfo">
        SELECT
        id,
        `code`,
        `name`,
        icon,
        label
        FROM
        app_info ai
        WHERE ai.del_flag = 0
        AND ai.name = #{name}
        <if test="id!=null">
            AND ai.id != #{id}
        </if>
    </select>

    <!-- 查询商品信息-->
    <select id="queryById" resultType="com.jzy.api.model.app.AppInfo">

            SELECT
            id,
            `code`,
            cate_id  as cateId,
            acct_id  as acctId,
            acp_id  as acpId,
            game_id as gameId,
            type_id typeId,
            `name`,
            icon,
            label,
            first_letter as firstLetter,
            spll_letter as spllLetter,
            recharge_mode  as rechargeMode,
            STATUS,
            sort,
            `describe`,
            page_path as pagePath,
            remark,
            is_hot  as isHot,
            is_reco as isReco
        FROM
            app_info ai
        WHERE
            1 = 1
    AND ai.id = #{aiId}
    </select>

    <!--根据商品名称获取商品Id -->
    <select id="getIdByName" resultType="String">
        select
        id
        from
        app_info
        where
        1=1
        and name in
        <foreach collection="nameList" item="item" open="(" separator=","
                 close=")" index="index">
            #{item}
        </foreach>


    </select>


</mapper>
