<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	SQL映射文件名称：充值类型
	————————————————————————————————————
	修改日期		作者		变更内容
	20190430	唐永刚	    创建了该文件
	————————————————————————————————————
	陕西佳之易网络科技有限公司 版本所有
 -->

<mapper namespace="com.jzy.api.dao.app.AppPriceTypeMapper">

    <!--    查询当前商品充值类型列表-->
    <select id="getAppPriceTypelistByaiId"
            resultType="com.jzy.api.model.app.AppPriceType">
        SELECT
            `id`,
            `ai_id` as aiId,
            `name`,
            `unit`,
            `maxmum`,
            `minmum`,
            `multiple`,
            `subscription_ratio` as subscriptionRatio ,
            `create_time`  as createTime,
            `modify_time` as modifyTime,
            `modifier_id` as modifierId,
            creator_id as creatorId
        FROM
            app_price_type
        WHERE
            1 = 1
        AND ai_id =#{aiId}
</select>

    <!--    查询当前商品充值类型列表-->
    <select id="getAppPriceTypelist"
            resultType="com.jzy.api.po.dealer.AppPriceTypeListPo">
                SELECT
                apt.`id` AS aptId,
                apt.`name`,
                dapt.is_custom AS isCustom
                FROM
                app_price_type apt
                LEFT JOIN dealer_app_price_type dapt
                ON apt.id = dapt.apt_id
                AND apt.ai_id = dapt.ai_id
                WHERE
                1 = 1
                AND dapt.ai_id = #{aiId}
                AND dapt.dealer_id = #{dealerId}
</select>

    <!--    前台营业查询当前充值类型商品列表-->
    <select id="getAppPriceTypePolist"
            resultType="com.jzy.api.po.arch.AppPriceTypePo">

        SELECT
            apt.`id` as typeId ,
            apt.`name` as typeName ,
            apt.`unit` as typeUnit ,
            apt.`maxmum` as maxMum ,
            apt.`minmum` as minMum ,
            apt.`multiple` as multiple ,
            apt.`subscription_ratio` as subscriptionRatio,
            dapt.is_custom as isCustom
        FROM app_price_type as apt
        LEFT JOIN dealer_app_price_type as dapt ON apt.ai_id = dapt.ai_id AND apt.id = dapt.apt_id AND dapt.dealer_id = #{dealerId}
        WHERE 1 = 1
        AND apt.ai_id = #{aiId}
    </select>
    <!--新增-->
    <insert id="insert" parameterType="com.jzy.api.model.app.AppPriceType">
            INSERT INTO `app_price_type` (
                `id`,
                `ai_id`,
                `name`,
                `unit`,
                `maxmum`,
                `minmum`,
                `multiple`,
                `subscription_ratio`,
                `modifier_id`,
                `creator_id`,
                `del_flag`,
                `modify_time`,
                `create_time`
            )
            VALUES
                (
                #{id},
                #{aiId},
                #{name},
                #{unit},
                #{maxmum},
                #{minmum},
                #{multiple},
                #{subscriptionRatio},
                #{modifierId},
                #{creatorId},
                #{delFlag},
                #{modifyTime},
                #{createTime}
                )
    </insert>

    <!--    物理删除当前商品下的所有充值类型-->
    <delete id="deleteByAiId">
        DELETE
        FROM
            app_price_type
        WHERE
            ai_id =#{aiId}
    </delete>

</mapper>
