<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	SQL映射文件名称：权限业务
	————————————————————————————————————
	修改日期		作者		变更内容
	20190424	邓冲	    创建了该文件
	————————————————————————————————————
	陕西佳之易网络科技有限公司 版本所有
 -->

<mapper namespace="com.jzy.api.dao.app.AppPageMapper">


    <!--    获取商品富文本-->
    <select id="getPageInfoByAiId" resultType="com.jzy.api.model.app.AppPage">
        SELECT
            ai_id as aiId,
            content
        FROM
            app_page
        WHERE
            ai_id =#{aiId}
        </select>

    <!--  新增-->
    <insert id="insert" parameterType="com.jzy.api.model.app.AppPage">
			INSERT INTO app_page (
				`ai_id`,
				`content`,
				`creator_id`,
				`modifier_id`,
				`create_time`,
				`modify_time`
				)
			VALUES
				(
				#{aiId},
				#{content},
				#{creatorId},
				#{modifierId},
				#{createTime},
				#{modifyTime}
				)
    </insert>


    <!--	修改-->
    <update id="update" parameterType="com.jzy.api.model.app.AppPage">
		UPDATE
		app_page
		SET content =#{content},
		 `modify_time` =#{modifyTime}
		WHERE
			ai_id =#{aiId}
    </update>


</mapper>