<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	SQL映射文件名称：首页推荐分组
	————————————————————————————————————
	修改日期		作者		变更内容
	20190515	鲁伟	    创建了该文件
	————————————————————————————————————
	陕西佳之易网络科技有限公司 版本所有
 -->

<mapper namespace="com.jzy.api.dao.home.HomeRecommendHotGroupMapper">

    <!--insert-->
    <insert id="insert" parameterType="com.jzy.api.model.Home.HomeRecommendHotGroup">
    	INSERT INTO home_recommend_hot_group (
            `id`,
            `dealer_id`,
            `group_name`,
            `group_sort`,
            `state`,
            `creator_id`,
            `modifier_id`,
            `create_time`,
            `modify_time`
        )
        VALUES
            (
            #{id},
            #{dealerId},
            #{groupName},
            #{groupSort},
            #{state},
            #{creatorId},
            #{modifierId},
            #{createTime},
            #{modifyTime}
            )
    </insert>

    <!--根据name查询数量-->
    <select id="getByName" resultType="java.lang.Integer">
        select count(1) from home_recommend_hot_group where group_name=#{groupName} and dealer_id=#{dealerId}
    </select>

    <!--根据id查询启用分组数量-->
    <select id="getByIdStatus" resultType="java.lang.Integer">
         select count(1) from home_recommend_hot_group where id=#{id} and state=1
    </select>

    <!--根据id删除-->
    <delete id="delete">
        delete from home_recommend_hot_group where id=#{id}
    </delete>

    <!--根据name,id查询数量-->
    <select id="getCountByNameNoId" resultType="java.lang.Integer">
        select count(1) from home_recommend_hot_group where group_name=#{groupName}
        and dealer_id=#{dealerId} and id!=#{id}
    </select>

    <!-- 修改-->
    <update id="update" parameterType="com.jzy.api.model.Home.HomeRecommendHotGroup">
        update
        home_recommend_hot_group
        set
        `group_sort` = #{groupSort},
        `group_name` = #{groupName},
        `state` = #{state},
        `modifier_id` =  #{modifierId},
        `modify_time` =  #{modifyTime}
        where
        id = #{id}
    </update>

    <!--分页列表查询-->
    <select id="listPage" parameterType="com.jzy.api.cnd.home.HomeHotGroupCnd"
            resultType="com.jzy.api.vo.home.HomeHotGroupVo">
        select id,dealer_id as dealerId,group_name as groupName,group_sort as groupSort,
        state,modify_time as modifyTime from home_recommend_hot_group
        where dealer_id = #{dealerId}
        <if test="groupName!=null">
            and group_name like CONCAT('%',#{groupName},'%')
        </if>
        order by state desc,group_sort asc
    </select>

    <!--启用停用-->
    <update id="setStatus">
        update
        home_recommend_hot_group
        set
        `state` = #{state}
        where
        id = #{id}
    </update>
</mapper>
