<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	SQL映射文件名称：渠道商首页推荐轮播图和推荐分类
	————————————————————————————————————
	修改日期		作者		变更内容
	20190429	唐永刚	    创建了该文件
	————————————————————————————————————
	陕西佳之易网络科技有限公司 版本所有
 -->

<mapper namespace="com.jzy.api.dao.home.HomeRecommendHotMapper">


    <!--   查询分组信息-->
    <select id="getGroupeDetailList"
            resultType="com.jzy.api.model.Home.GroupeDetail">

         SELECT
            group_id AS groupeId,
            group_name AS groupeName,
            group_sort AS groupSort
        FROM
            home_recommend_hot
        WHERE
            dealer_id =#{dealerId}
        GROUP BY
            group_id

</select>


    <!--   查询分组信息-->
    <select id="queryHotList"
            resultType="com.jzy.api.model.Home.HomeRecommendHot">
        SELECT
            hot.`id`,
            hot.`dealer_id` as dealerId,
            hot.`rci_name` as rciName,
            img.file_url as imageId,
            hot.`go_type` as goType,
            hot.`go_id` as goId,
            hot.`go_name` as goName,
            hot.`state`,
            hot.`creator_id` as creatorId,
            hot.modifier_id as modifierId ,
            hot.`create_time` as createTime,
            hot.`modify_time` as modifyName,
            hot.`position`,
            hot.group_id as groupId,
            f_get_app_cate_name (hot.group_id) as cateName,
            hot.`group_sort` as groupSort
        FROM
            home_recommend_hot AS hot
	    LEFT JOIN sys_images AS img ON img.id = hot.image_id
        WHERE
            hot.dealer_id =#{dealerId}
        AND hot.state = 1
        ORDER BY
            hot.group_sort ASC

</select>


    <!--   获取当前分组下的某个商品信息-->
    <select id="getHotAppInfoDetail"
            resultType="com.jzy.api.model.Home.HotAppInfoDetail">
            SELECT
                ai.`name` AS appName,
                img.file_url AS appIcon,
                dapi.number AS typeNumber,
                apt. NAME AS typeName,
                apt.unit AS typeUnit,
                dapi.price,
                dapi.pay_price as payPrice,
                dapi.discount
            FROM
                app_price_type apt
            LEFT JOIN dealer_app_price_info dapi ON apt.id = dapi.apt_id
            AND dapi.ai_id = apt.ai_id
            LEFT JOIN app_info ai ON apt.ai_id = ai.id
            LEFT JOIN sys_images as img ON img.type = 1 AND img.rel_id = ai.id
            WHERE
                1 = 1
            AND dapi.dealer_id =#{dealerId}
            AND dapi.ai_id =#{goId}
            AND dapi. STATUS = 1
            LIMIT 1

   </select>

</mapper>
