<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
	SQL映射文件名称：登录
	————————————————————————————————————
	修改日期		作者		变更内容
	20190424	邓冲	    创建了该文件
	————————————————————————————————————
	陕西佳之易网络科技有限公司 版本所有
 -->

<mapper namespace="com.jzy.api.dao.sys.EmpMapper">

    <!-- 根据用户名查询用户 -->
    <select id="queryEmpByUsername" resultType="com.jzy.api.model.sys.Emp">
        SELECT
        id,
        name,
        pwd,
        dealer_id dealerId
        FROM
        sys_emp
        WHERE
        name = #{username}
    </select>

    <insert id="insert" parameterType="com.jzy.api.model.sys.Emp">
            INSERT INTO  sys_emp (
            `id`,
            `name`,
            `pwd`,
            `creator_id`,
            `modifier_id`,
            `create_time`,
            `modify_time`,
            `del_flag`,
            `dealer_id`
            )
            VALUES
            (
            #{id},
            #{name},
            #{pwd},
            #{creatorId},
            #{modifierId},
            #{createTime},
            #{modifyTime},
            #{delFlag},
            #{dealerId},
            )
    </insert>
    <!--修改-->
    <update id="update" parameterType="com.jzy.api.model.sys.Emp">
            UPDATE sys_emp
            SET
            `name` = #{name},
            `pwd` = #{pwd},
            `modify_time` =   #{modifyTime}
            WHERE
            (`dealer_id` =  #{dealerId})

    </update>


</mapper>